@model Admin.Models.LopHocPhan

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var dataLop = ViewData["DataLop"];
    var dataGiangVien = ViewData["DataGiangVien"];
}

<h1>Tạo mới</h1>

<h4>Lớp học phần</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenLopHP" class="control-label"></label>
                <input asp-for="TenLopHP" class="form-control" />
                <span asp-validation-for="TenLopHP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaGiangVien" class="control-label"></label>
                <select asp-for="MaGiangVien" class="form-control" asp-items="ViewBag.GiangVienId">
                </select>
                <span asp-validation-for="TenLopHP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaMonHoc" class="control-label"></label>
                <select asp-for="MaMonHoc" class="form-control" asp-items="ViewBag.MonHocId">
                </select>
                <span asp-validation-for="TenLopHP" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="MaLop" class="control-label">Lop</label>

                <select asp-for="MaLop" class="form-control" asp-items="ViewBag.LopId">
                </select>
                <span asp-validation-for="TenLopHP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Danh sách</a>
</div>

